.hero {
  height: 90vh;
  background: #111;
  background-position: center center;
  background-size: cover;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #000;
    opacity: 0.2;
  }
  .container {
    position: relative;
    z-index: 1;
    display: flex;
    height: 100%;
    align-items: center;
    .text {
      padding: 5rem;
      color: #fff;
      max-width: 75rem;
      h2 {
        font-size: 6.75rem;
        line-height: 1em;
      }
      p {
        margin-top: 2rem;
        font-size: 1.5rem;
        line-height: 1.4em;
        max-width: 50rem;
      }
      .btn-wrapper {
        margin-top: 4rem;
        a.btn {
          margin-right: 1rem;
          border: 1px solid #fff;
          padding: 0.75rem 1.5rem;
          border-radius: 3rem;
          color: #fff;
          text-decoration: none;
          &.primary {
            background: $color-secondary-2-3;
            border: 1px solid $color-secondary-2-3;
          }
        }
      }
    }
    .card {
      margin-top: auto;
      margin-bottom: -4rem;
      margin-left: -5rem;
      flex: 0 0 450px;
      border-radius: 0.5rem;
      overflow: hidden;
      .header {
        width: 100%;
        height: 17rem;
        background-position: center;
        background-size: cover;
      }
      .body {
        background: #71ad9b;
        background: linear-gradient(to right, #71ad9b 0%, #57917f 100%);
        color: #fff;
        padding: 2rem 3rem 3rem;
        h3 {
          font-size: 2.25rem;
          line-height: 1em;
          margin-bottom: 1rem;
          margin-top: 0.75rem;
        }
        .tags {
          margin-top: 1rem;
          span {
            margin-right: 0.1rem;
            background: rgba(0, 0, 0, 0.25);
            display: inline-flex;
            padding: 0.25rem 1rem;
            border-radius: 1rem;
          }
        }
      }
    }
  }
}
