@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;0,800;1,400&display=swap");

@import "vars.scss";
@import "grid.scss";
@import "components/header.scss";
@import "components/hero.scss";
@import "components/intro.scss";
@import "components/sidebar.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Gabriola";
  font-style: normal;
  font-weight: normal;
  src: local("Gabriola"), url("../fonts/gabriola.woff") format("woff");
}

html {
  text-rendering: optimizeLegibility;
}

body {
  font: 16px/1.6em "Open Sans", sans-serif;
  background: #f6f6f6;
}

.page {
  display: flex;
}

.page-main {
  @media (min-width: $breakpoint-lg) {
    margin-left: 5rem;
    width: calc(100% - 5rem);
  }
}

.hidden {
  display: none;
}

.content {
  img {
    max-width: 100%;
    height: auto;
  }
}
